<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>

    <link rel="icon" href="/images/hng.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        <img class="logo" src="/images/zuri.jpg" alt="zuri logo">
        <img class="logo" src="/images/hng.png" alt="hng logo">
        {{>header}}
    </div>
     <div role="main" class="inner">
            <br/>
			 
            <p style="text-align:left;"> I am a versatile programmer who is adept at both frontend and backend for designing cool interactive websites which help solve societal unmet problems. 
            </p>
            
			<br/>
			
			<h1 style="text-align:left;">Qualifications & Skills</h1>

			<p style="text-align:left;"> My skills are diverse. I can write code in HTML, CSS, Javascripts, ReactJS, VueJS, NodeJS, Bootstrap, SCSS.
            </p>
			
			<p style="text-align:left;"> I am a graduate of Mechanical Engineering from the University of Nigeria, Nsukka, where I graduated with Second Class Honours (Upper Division).
            </p>
			
             
			
        </div>

    {{>footer}}
</body>
</html>