<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio page</title>

    <link rel="icon" href="/images/hng.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        <img class="logo" src="/images/zuri.jpg" alt="zuri logo">
        <img class="logo" src="/images/hng.png" alt="hng logo">
        {{>header}}
        <br>
        <br>
        <br>
        <div>Here are some of the links to my works</div>
        <section id="projects" class="container projects">

      <div class="images">
        <div class="project-box">
          <img src="/images/easybank.png" class="filter-image design" alt="easybank landing page">
          <br>
          <span class="project-links">
            <a href="https://easybank-landing-page-hazel.vercel.app/">
              <i> View Site</i>
              <p>Easy bank landing page</p>
            </a>

          </span>
        </div>

        <div class="project-box">
          <img src="/images/insure landing page.jpg" class="filter-image design" alt="insure landing page">
          <br>
          <span class="project-links">
            <a href="https://insure-landing-page-fem.vercel.app/">
              <i> View Site </i>
                <p>Insure landing page</p>
            </a>
          </span>
        </div>

        <div class="project-box">
          <img src="./images/manage landing page.svg" class="filter-image design" alt="manage landing page">
          <br>
          <span class="project-links">
            <a href="https://manage-landing-page-ten.vercel.app/">
              <i> View Site</i>
                <p>Manage landing page</p>

            </a>
          </span>
        </div>

        <div class="project-box">
          <img src="./images/arch.jpg" class="filter-image design" alt="arch studio multipaged">
          <br>
          <span class="project-links">
            <a href="https://arch-studio-multipage.vercel.app/">
              <i> View Site</i>
                <p> Arch Studio Multipage Project</p>
            </a>
          </span>
        </div>

         <div class="project-box">
          <img src="./images/urlShortener.svg" class="filter-image design" alt="url shortener project">
          <br>
          <span class="project-links">
            <a href="https://url-shortening-api-gules.vercel.app/">
              <i> View Site </i>
                <p> URL shortening API Project</p>
            </a>
          </span>
        </div>
      </div>
    </section>
    </div>
    
    {{>footer}}
</body>
</html>