@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

body{
    color: #333333;
    font-family: 'Spartan', sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 10px solid #eeeeee;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 20px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

h1 {
    margin-bottom: 16px;
    color: blueviolet;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

.logo {
    float: right;
    width: 50px;
    padding: 10px;
}

form {
    font-family: inherit;
}

.box {
    padding: 12px;
    margin: 10px;
    width: 50%;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius:10px;
}

#submit {
    background-color: aqua;
    border-radius:10px;
}

.images {
    display: grid;
    flex-direction: column;
    padding-top: 30px;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 15px;
    margin: 20px;
}

.project-box {
    padding: 10px;
}

.filter-image {
    width: 100%;
    padding-bottom: 20px;
}

.project-links a {
    color: hsl(220, 14%, 12%);
    margin-right: 16px;
    text-decoration: none;
}

i {
    font-style: normal;
    border-bottom: 3px solid grey;
}
